<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All appointment</title>
</head>
<body>
<h1>All appointments</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Time</th>
        <th>Patient</th>
        <th>Doctor</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="appointments : ${appointments}">
        <td><span th:text="${appointments.id}"></span></td>
        <td><span th:text="${appointments.timeEnum}"></span></td>
        <td><span th:text="${appointments.patient}"></span></td>
        <td><span th:text="${appointments.doctor}"></span></td>
    </tr>
    </tbody>
</table>
</body>
</html>