<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Make an appointment</title>
</head>
<body>
<div>
    <h1>Select doctor</h1>

    <form action="#" method="post">
        <label for="doctorSelect">Choose a doctor:</label>
        <select id="doctorSelect" name="doctorName">
            <option value="">Select a doctor</option>
            <tr th:each="doctor : ${allDoctors}">
                <option th:text="${doctor.fullName}" th:value="${doctor.id}"></option>
            </tr>
        </select>
    </form>
</div>
<div>
    <h1>Timing choice</h1>
    <form action="#" method="post">
        <label for="timeSelect">Choose a time:</label>
        <select id="timeSelect" name="timeChoice">
            <option value="">Select a time</option>
            <tr th:each="time : ${appointmentTimeEnum}">
                <option th:text="${time.displayName}" th:value="${time.displayName}"></option>
            </tr>
        </select>
    </form>
</div>


<div>
    <button type="submit">Submit</button>
</div>

</body>
</html>
