<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your profile</title>
</head>
<body>
<h1>All patients</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Full name</th>
        <th>Age </th>
        <th>Gender </th>
        <th>Contact details </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${allPatients}">
        <td><span th:text="${patient.id}"></span></td>
        <td><span th:text="${patient.fullName}"></span></td>
        <td><span th:text="${patient.age}"></span></td>
        <td><span th:text="${patient.gender}"></span></td>
        <td><span th:text="${patient.contactDetails}"></span></td>
    </tr>
    </tbody>
</table>
</body>
</html>
<!--<!doctype html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Patient Details</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Patient Details</h1>-->
<!--<div>-->
<!--    <p><strong>Id:</strong> <span th:text="${patient.id}"></span></p>-->
<!--&lt;!&ndash;    <p><strong>Full Name:</strong> <span th:text="${patient.fullName}"></span></p>&ndash;&gt;-->
<!--    <p><strong>Full Name:</strong> <span th:text="${patient.fullName}"></span></p>-->
<!--    <p><strong>Age:</strong> <span th:text="${patient.age}"></span></p>-->
<!--    <p><strong>Gender:</strong> <span th:text="${patient.gender}"></span></p>-->
<!--    <p><strong>Contact Details:</strong> <span th:text="${patient.contactDetails}"></span></p>-->
<!--</div>-->
<!--<a href="/patient">Back to Patients List</a>-->
<!--</body>-->
<!--</html>-->
